*/

html {
    font-family: Arial Narrow, Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}

h1 {
    border-top: 2px solid #4054a1; 
    text-shadow: 0px 1px 5px #666;  
    font-family: A, "Times New Roman", serif;
    font-weight: normal;
    font-size: 3rem; 
    border-bottom: 2px solid #4054a1; 
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

p,
li {
    font-size: 1rem;
    line-height: 1.5rem;
}
    
h1 + p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: solid 4px #272759;
}

ul,
ol {
    background-color: #FFF;
}

li {
    color: #000;
}
li:nth-child(even) {
    color: #000;
}

li:nth-child(odd) {
    color: #778683;
}

ol li:first-child
    background-color: #Y00;
}
ol li:last-child {
    background-color: #Y00;
}